sudo: required

services:
  - docker

language: scala

scala:
  - 2.12.2

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot

script:
  - sudo mkdir .sbt
  - sudo mkdir dist
  - docker-compose run book npm install
  - docker-compose run book ./sbt.sh pdf ; export SBT_RESULT=$?
  - exit $SBT_RESULT

